@model Proyecto.ViewModels.ContactInfo

@{
    ViewData["Title"] = "addressesEdit";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";

}

<h1>Edit</h1>

<h4>Contact</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="addressesEdit" method="post">
            <input asp-for="Contact.IdContact" type="hidden" value="@Model.Contact.IdContact" />
            <input asp-for="Contact.IdUser" type="hidden" value="@Model.Contact.IdUser" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Contact.FirstName" class="control-label"></label>
                <input asp-for="Contact.FirstName" class="form-control" value="@Model.Contact.FirstName"/>
                <span asp-validation-for="Contact.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact.LastName" class="control-label"></label>
                <input asp-for="Contact.LastName" class="form-control" value="@Model.Contact.LastName" />
                <span asp-validation-for="Contact.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact.PhoneNumber" class="control-label"></label>
                <input asp-for="Contact.PhoneNumber" class="form-control" value="@Model.Contact.PhoneNumber" />
                <span asp-validation-for="Contact.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact.HomeAddress" class="control-label"></label>
                <input asp-for="Contact.HomeAddress" class="form-control" value="@Model.Contact.HomeAddress" />
                <span asp-validation-for="Contact.HomeAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="municipios" class="control-label"></label>
                @Html.DropDownList("municipios",Model.municipios,"Elige el municipio", new {@class = "form-control"} )
            </div>
            @*<div class="form-group">
            <label asp-for="Departamento" class="control-label"></label>
            <select asp-for="Departamento.Name" class ="form-control" asp-items="ViewBag.IdUser"></select>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Edit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

